/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean");
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
font-family: 'Dancing Script', cursive;*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #111;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html.search {
  position: fixed;
  overflow: hidden; }

.wrap {
  position: relative; }

.wrap.search {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  background: #fff; }
  header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px; }
    header h1 img {
      margin-bottom: 10px; }
  header ul {
    display: flex;
    justify-content: space-between;
    width: 60%; }
    header ul:hover li {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 20px; }
    header ul:hover li:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
    header ul:hover li nav {
      display: flex;
      height: 130px; }
    header ul li {
      width: 20%;
      padding-bottom: 0;
      transition: padding .5s; }
      header ul li:hover {
        background: rgba(0, 0, 0, 0.03); }
      header ul li span {
        visibility: hidden;
        display: block;
        width: 0%;
        height: 5px;
        background: #2d5ba9;
        transition: width .5s; }
      header ul li:hover span {
        visibility: visible;
        width: 100%; }
      header ul li p {
        line-height: 80px;
        font-weight: bold;
        font-size: 1.1rem;
        color: #333;
        text-align: center; }
      header ul li nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 0px; }
        header ul li nav a {
          margin-bottom: 20px; }
  header .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    margin-top: 40px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer; }
    header .burger span {
      width: 22px;
      height: 4px;
      background: #333; }

.visual {
  width: 100%;
  height: 1000px;
  background: url(../img/background.jpg) no-repeat center 100%/cover;
  background-attachment: fixed; }
  .visual__title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .visual__title h2 {
      font-size: 4rem;
      font-weight: bold;
      color: #fff;
      margin-bottom: 30px;
      letter-spacing: 0.3rem; }
    .visual__title p {
      font-weight: 100;
      font-size: 1.55rem;
      letter-spacing: 0.3rem;
      color: #fff; }
  .visual__search {
    width: 50%;
    height: 80px;
    background: #2d5ba9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    margin-top: 50px; }
    .visual__search input {
      border: none;
      outline: none;
      background: #fff;
      width: 88%;
      height: 83%;
      margin-left: 1%;
      padding: 15px;
      font-weight: 100;
      font-size: 1rem;
      color: #333;
      letter-spacing: 0.01rem; }
    .visual__search button {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      width: 100px;
      height: 100px; }
      .visual__search button img {
        width: 20px; }

.main {
  width: 100%;
  height: 850px;
  background: #eee; }
  .main__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 150px; }
  .main__board {
    width: 35%;
    height: 88%;
    background: #fff; }
    .main__board__category {
      width: 100%;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .main__board__category button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        height: 50px;
        width: 23%;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: bold;
        font-size: 0.9rem;
        color: #333; }
        .main__board__category button:last-child {
          width: 10%;
          background: #2d5ba9;
          position: relative; }
          .main__board__category button:last-child:hover {
            background: #2d5ba9; }
          .main__board__category button:last-child span {
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 30%;
            height: 2px;
            background: #fff;
            transition: .3s; }
            .main__board__category button:last-child span:last-child {
              transform: translate(-50%, -50%) rotate(90deg); }
          .main__board__category button:last-child:hover span:first-child {
            transform: translate(-50%, -350%) rotate(45deg); }
          .main__board__category button:last-child:hover span:last-child {
            transform: translate(-50%, 350%) rotate(-45deg); }
        .main__board__category button:hover {
          background: rgba(0, 0, 0, 0.03); }
        .main__board__category button.selected {
          background: #2d5ba9;
          color: #fff; }
    .main__board__contents {
      display: flex;
      flex-direction: column;
      padding-top: 15px; }
      .main__board__contents li {
        width: 90%;
        margin: 12px auto;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        display: flex;
        padding-bottom: 15px; }
        .main__board__contents li span {
          border: 1px solid #2d5ba9;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 13px;
          font-weight: 400;
          font-size: 0.8rem;
          color: #2d5ba9; }
    .main__board__text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 10px; }
      .main__board__text h3 {
        font-weight: bold;
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 5px; }
      .main__board__text p {
        font-weight: 100;
        font-size: 0.9rem;
        color: #aaa; }
  .main__rightBox {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 20px; }
    .main__rightBox__banner {
      width: 100%;
      height: 400px;
      background: url(../img/visual_1.jpg) no-repeat center/cover;
      position: relative; }
      .main__rightBox__banner button {
        position: absolute;
        bottom: 10px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: #2d5ba9;
        border-radius: 5px;
        opacity: 80%; }
        .main__rightBox__banner button:first-child {
          left: 15px; }
          .main__rightBox__banner button:first-child span {
            display: block;
            width: 12px;
            height: 2px;
            background: #fff; }
            .main__rightBox__banner button:first-child span:first-child {
              transform: translateX(2px) translateY(-150%) rotate(-45deg); }
            .main__rightBox__banner button:first-child span:last-child {
              transform: translateX(2px) translateY(150%) rotate(45deg); }
        .main__rightBox__banner button:nth-of-type(2) {
          left: 50px; }
          .main__rightBox__banner button:nth-of-type(2) span {
            display: block;
            width: 15px;
            height: 2px;
            background: #fff;
            transform: translateX(-2px) rotate(90deg); }
            .main__rightBox__banner button:nth-of-type(2) span:last-child {
              margin-left: 7px;
              margin-top: -2px; }
        .main__rightBox__banner button:last-child {
          left: 85px; }
          .main__rightBox__banner button:last-child span {
            display: block;
            width: 12px;
            height: 2px;
            background: #fff; }
            .main__rightBox__banner button:last-child span:first-child {
              transform: translateX(5px) translateY(-150%) rotate(45deg); }
            .main__rightBox__banner button:last-child span:last-child {
              transform: translateX(5px) translateY(150%) rotate(-45deg); }
    .main__rightBox__contentWrapper {
      width: 100%;
      height: 29.3%;
      margin-top: 3%;
      display: flex; }
      .main__rightBox__contentWrapper__contents {
        width: 80%;
        height: 95%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px; }
        .main__rightBox__contentWrapper__contents button {
          width: 32%;
          height: 50%;
          margin-right: 5px;
          margin-bottom: 5px;
          border: none;
          outline: none;
          background: #fff;
          cursor: pointer;
          font-weight: bold;
          font-size: 0.9rem;
          color: #333;
          position: relative;
          transition: .5s; }
          .main__rightBox__contentWrapper__contents button:hover {
            border: 1px solid #2d5ba9; }
      .main__rightBox__contentWrapper__news {
        margin-top: 5px;
        width: 20%;
        height: 98%;
        background: #2d5ba9;
        line-height: 1.5rem;
        color: #fff;
        transition: .5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .main__rightBox__contentWrapper__news span:nth-of-type(1) {
          width: 0%;
          height: 5px;
          background: #fff;
          position: absolute;
          top: 0;
          left: 0; }
        .main__rightBox__contentWrapper__news span:nth-of-type(2) {
          width: 5px;
          height: 0;
          background: #fff;
          position: absolute;
          top: 0;
          right: 0; }
        .main__rightBox__contentWrapper__news span:nth-of-type(3) {
          width: 0%;
          height: 5px;
          background: #fff;
          position: absolute;
          bottom: 0;
          left: 100%; }
        .main__rightBox__contentWrapper__news span:nth-of-type(4) {
          width: 5px;
          height: 0;
          background: #fff;
          position: absolute;
          top: 100%;
          left: 0; }
        .main__rightBox__contentWrapper__news:hover span:nth-of-type(1) {
          width: 100%;
          transition: .2s; }
        .main__rightBox__contentWrapper__news:hover span:nth-of-type(2) {
          height: 100%;
          transition: .2s;
          transition-delay: .1s; }
        .main__rightBox__contentWrapper__news:hover span:nth-of-type(3) {
          left: 0;
          width: 100%;
          transition: .2s;
          transition-delay: .2s; }
        .main__rightBox__contentWrapper__news:hover span:nth-of-type(4) {
          top: 0;
          height: 100%;
          transition: .2s;
          transition-delay: .3s; }

.event {
  width: 100%;
  height: 700px;
  background: url(../img/bg002.jpg) no-repeat center/cover;
  background-attachment: fixed;
  padding-top: 80px; }
  .event h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #fff; }
  .event__content {
    display: flex;
    width: 70%;
    margin: 100px auto 200px; }
    .event__content div {
      width: 24%;
      height: 300px;
      margin-left: 1%;
      transition: .5s;
      position: relative; }
      .event__content div:nth-of-type(1) {
        background: url("../img/nt001.png") no-repeat center/cover;
        background-size: 100%; }
      .event__content div:nth-of-type(2) {
        background: url("../img/nt002.png") no-repeat center/cover;
        background-size: 100%; }
      .event__content div:nth-of-type(3) {
        background: url("../img/nt003.png") no-repeat center/cover;
        background-size: 100%; }
      .event__content div:nth-of-type(4) {
        background: url("../img/nt004.png") no-repeat center/cover;
        background-size: 100%; }
      .event__content div:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background-size: 110%; }
      .event__content div:nth-of-type(2n) {
        margin-top: 80px; }

.footer {
  width: 100%;
  background: #eee;
  padding-top: 50px;
  position: relative; }
  .footer__banner {
    width: 70%;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between; }
    .footer__banner a {
      display: block;
      width: 160px;
      height: 40px;
      transition: .5s; }
      .footer__banner a:nth-of-type(1) {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background: url("../img/banner01.jpg") no-repeat center/cover; }
      .footer__banner a:nth-of-type(2) {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background: url("../img/banner02.jpg") no-repeat center/cover; }
      .footer__banner a:nth-of-type(3) {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background: url("../img/banner03.jpg") no-repeat center/cover; }
      .footer__banner a:nth-of-type(4) {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background: url("../img/banner04.jpg") no-repeat center/cover; }
      .footer__banner a:nth-of-type(5) {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background: url("../img/banner05.jpg") no-repeat center/cover; }
      .footer__banner a:nth-of-type(6) {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background: url("../img/banner06.jpg") no-repeat center/cover; }
      .footer__banner a:hover {
        transform: scale(1.1); }
  .footer__wrapper {
    width: 100%;
    height: 200px;
    padding: 50px 15% 0;
    margin: 0 auto;
    background: #2e373e;
    display: flex;
    flex-direction: column; }
    .footer__wrapper > ul {
      width: 60%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px; }
      .footer__wrapper > ul li a {
        color: #fff;
        font-weight: 100;
        font-size: 1rem;
        letter-spacing: 0.03rem; }
        .footer__wrapper > ul li a:hover {
          font-weight: 400; }
    .footer__wrapper__address p {
      color: #fff;
      font-weight: 100;
      font-size: 0.9rem;
      letter-spacing: 0.03rem;
      line-height: 30px; }
  .footer__dropBox {
    position: absolute;
    right: 15%;
    top: 10%;
    display: flex;
    flex-direction: column; }
    .footer__dropBox:hover ul {
      visibility: visible; }
    .footer__dropBox ul {
      width: 220px;
      background: #1d2327;
      visibility: hidden; }
      .footer__dropBox ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
        .footer__dropBox ul li a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          font-weight: 100;
          font-size: 0.9rem;
          letter-spacing: 0.03rem;
          line-height: 30px;
          padding-left: 10px; }
    .footer__dropBox > a {
      width: 220px;
      height: 50px;
      padding: 0 20px;
      color: #fff;
      font-weight: 100;
      font-size: 0.9rem;
      letter-spacing: 0.03rem;
      line-height: 30px;
      background: #1d2327;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer__dropBox > a img {
        width: 11px; }

/*# sourceMappingURL=style.css.map */
