/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean");
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
font-family: 'Dancing Script', cursive;*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #111;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html.search {
  position: fixed;
  overflow: hidden; }

.wrap {
  position: relative; }

.wrap.search {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 80px;
  border-bottom: 1px solid #333;
  position: fixed; }
  header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
    color: #333; }
    header h1 img {
      width: 40px;
      margin-bottom: 10px; }
  header ul {
    display: flex;
    justify-content: space-between;
    width: 60%; }
    header ul:hover li:last-child {
      border-right: 1px solid #333; }
    header ul li {
      width: 20%; }
      header ul li:hover {
        background: rgba(238, 238, 238, 0.3); }
      header ul li span {
        display: block;
        width: 0%;
        height: 5px;
        background: #2d5ba9;
        transition: .5s; }
      header ul li:hover span {
        width: 100%; }
      header ul li p {
        line-height: 80px;
        font-weight: bold;
        font-size: 1.1rem;
        color: #333;
        text-align: center; }
      header ul li nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 0px; }
        header ul li nav a {
          margin-bottom: 20px; }
  header .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    margin-top: 40px; }
    header .burger span {
      width: 22px;
      height: 4px;
      background: #333; }

/*# sourceMappingURL=style.css.map */
