@import "_common";
// 2d5ba9

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    background: #fff;
    & h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
        & img{
            margin-bottom: 10px;
        }
    }
    & ul{
        display: flex;
        justify-content: space-between;
        width: 60%;
        &:hover li{
            border-left: 1px solid rgba(0,0,0,0.1);
        }
        &:hover li:last-child{
            border-right: 1px solid rgba(0,0,0,0.1);
        }
        & li{
            width: 20%;
            transition: height .5s;
            &:hover{
                background:rgba(0,0,0,0.02);
            }
            & span{
                visibility: hidden;
                display: block;
                width: 0%;
                height: 5px;
                background: #2d5ba9;
                transition: width .5s;
            }
            &:hover span{
                visibility: visible;
                width: 100%;
            }
            & p{
                line-height: 80px;
                font-weight: bold;
                font-size: 1.1rem;
                color: #333;
                text-align: center;
            }
            & nav{
                display: none;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 0px;
                & a{
                    margin-bottom: 20px;
                }
            }
        } 
    }
    & .burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        margin-top: 40px;
        border: none;
        outline: none;
        background: none;
        & span{
            width: 22px;
            height: 4px;
            background: #333;
        }
    }
}
.visual {
    width: 100%;
    height: 1000px;
    background: url(../img/background.jpg) no-repeat center 120% / cover;
    &__title{
        position: absolute;
        left:50%; top:40%;
        transform: translate(-50%,-50%);
        text-align: center;
        & h2{
            font-size:3.35rem;
            font-weight: bold;
            color: #fff;
            margin-bottom: 30px;
            letter-spacing: 0.02rem;
        }
        & p{
            font-weight: 100;
            font-size:1.55rem;
            color: #fff;
        }
    }
    &__search{
        width: 42%;
        height: 80px;
        background:#2d5ba9;
        position: absolute;
        left:50%; top:55%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        & input{
            border: none;
            outline: none;
            background: #fff;
            width: 88%;
            height: 83%;
            margin-left: 1%;
            padding: 15px;
            font-weight: 100;
            font-size: 1rem;
            color: #333;
            letter-spacing: 0.01rem;
        }
        & button{
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin-left: 20px;
            & img{
                width: 20px;
            }
        }
    }
    &__tag{
        position: absolute;
        left:50%; top:63%;
        transform: translate(-65%,-50%);
        display: flex;
        & button{
            width: 130px;
            height: 30px;
            border: none;
            outline: none;
            background: rgba(255,255,255,0.8);
            cursor: pointer;
            border-radius: 5px;
            margin-left: 5px;
            font-weight: 400;
            font-size: 0.8rem;
            color: #333;
        }
    }
}
